<html>
	<head>
		<title>Django Girls Blog</title>
	</head>
	<body>
		<div>
			<h1><a href=''/''>Django Girls Blog</a></h1>
		</div>
		
		<div>
			<p>published:31.03.2019, 23:50</p>
			<h2><a href=''''>My first post</a></h2>
			<p>When intelligence meet creativity,miracles happen.To do music is creativity but to be able to blog is logic.</p>
		</div>

		<div>
			<p>published:31.03.2019, 23:50</p>
			<h2><a href=''''>My second blog post</a></h2>
			<p>When intelligence meet creativity,miracles happen.To do music is creativity but to be able to blog is logic.</p> 
		</div>
	</body>
</html>

</html>	
